<% layout('layout') -%>
<div class="container border">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <img
        class="img-circle img-responsive img-center"
        src="<%= user.profile.picture %>"
        alt=""
      />
      <br />
      <p>Name: <%= user.profile.name %></p>
      <p>Email: <%= user.email %></p>

      <% if (user.address === "" || typeof user.address === 'undefined') { %>
      <p>
        Address:
        <span style="color: #c0392b; font-weight: bold"
          >You have no address</span
        >
      </p>

      <% } else { %>

      <p>Address: <%= user.address %></p>

      <% } %>

      <a href="/edit-profile" class="btn btn-primary btn-lg">Edit Profile</a>
    </div>
    <div class="col-md-8">
      <h2 class="text-center">Book issued</h2>

      <table class="table table-striped sticky-header">
        <thead>
        <tr>
          <th colspan="2" style="text-align:center">Book Name</th>
          <th>Description: </th>
          <th>Category: </th>
          <th>Return Date: </th>
        </tr>
        <tbody>
          <!-- <%= categories %> -->
          <% for(var i = 0; i < user.history.length; i++) {%>
            <tr>
              <td><img src="<%= user.history[i].item.image %>" style="width:100px; height:100px;"/></td>
              <td><%= user.history[i].item.name %></td>
              <td><%= user.history[i].item.description %></td>
              <td><%= user.history[i].item.categoryName %></td>
              <%  var date= user.history[i].returnDate %>
              <td><%= (date.getMonth() + 1) + '-' + date.getDate() + '-' +  date.getFullYear() %></td>
            </tr>
          <% } %>
        </tbody>
        </thead>
      </table>

    </div>
  </div>
</div>
