<% layout('layout') -%>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="<%= product.image %>" />
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form method="POST" action="">
        <h3><%= product.name %></h3>
        <p>Description:</p>
        <p><%= product.description %></p>
        <div class="form-group">
          <label for=""></label>
          <input type="hidden" name="product_id" id="quantity" value="<%= product._id%>"></input>
          <input type="hidden" name="priceHidden" id="priceHidden" value="<%= product.price%>"></input>
        </div>
        <% if (message.length > 0) { %>
          <div class="alert alert-success alert-dismissible">
            <button
              type="button"
              class="close"
              data-dismmiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <%= message %>
          </div>
          <% } %>

        <% if(user) { %>
          <% if(product.available == true) { %>
            <button type="submit" class="btn btn-primary btn-lg">            
              Add to list
            </button>
          <% } else { %>
              <p class="btn btn-primary btn-lg"> Unavailable </p>
          <% } %>
        <% } else { %>
        <a href="/signup" class="btn btn-warning btn-lg">Signin/Signup to begin buying</a>
        <% } %>
      </form>
    </div>
  </div>
</div>
